.cart-summary {
    width: 80%;
    margin-left: auto;
}

/* Font chữ cho các nhãn (label) */
.cart-summary span.text-muted {
    font-size: 16px;
    color: #666 !important;
}

/* Giá trị tiền */
.cart-summary span.fw-bold {
    color: #333;
    font-size: 16px;
}

.text-danger {
    color: #ee4d2d !important; /* Màu đỏ đặc trưng Shopee/E-commerce */
}


/* Khoảng cách giữa các dòng */
.cart-summary .d-flex {
    line-height: 1.5;
}