.btn-wood {
    background-color: #b0803c;
    border-radius: 10px;
    color: white;
    border: none;
    padding: 7px 18px;
    font-size: 16px;
}

.btn-wood:hover {
    background-color: #8B4513; /* Màu đậm hơn khi di chuột vào */
    color: white;
}
.btn-wood:active {
    transform: scale(0.97); /* Card hơi lún xuống một chút (thu nhỏ 3%) */
    box-shadow: 0 4px 10px rgba(176, 128, 60, 0.2); /* Bóng thu hẹp lại khi nhấn xuống */
    transition: transform 0.1s; /* Phản hồi cực nhanh khi nhấn */
}

/* Trong file Cart.css */
.btn-wood:disabled {
    background-color: #ccc !important;
    cursor: not-allowed;
    border-color: #bbb;
}

.search-container {
    z-index: 1050; /* Đảm bảo nằm trên header */
}

/* Bảng gợi ý */
.list-group {
    top: 100%;
    max-height: 400px;
    overflow-y: auto;
    background: white;
}

/* Hiệu ứng khi di chuột vào từng dòng */
.list-group-item-action:hover {
    background-color: #f8f9fa !important;
    color: #0d6efd !important;
}

/* Bo góc cho thanh tìm kiếm */
.rounded-pill {
    border-radius: 50px !important;
}

.cursor-pointer {
    cursor: pointer;
}