/* Nút tròn xám */
.btn-qty-round {
    font-size: 20px;
    width: 30px !important;
    height: 30px !important;
    padding: 0px;
    margin: 0px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: inherit;
    border: none;
}

.btn-qty-round:hover {
    background-color: #e0e0e0;
    border-radius: 100%;
}

.btn-qty-round:active {
    background-color: #d5d5d5;
    border-radius: 100%;
}

/* Tùy chỉnh Input số lượng */
.input-qty-no-border {
    width: 45px !important;
    height: 30px !important;
    border: none !important; /* Bỏ viền */
    background: transparent !important;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: none !important; /* Bỏ viền xanh khi click vào */
}

/* Đảm bảo không có khoảng trống thừa bên dưới trong table */
.input-qty-no-border:focus {
    outline: none !important;
    background: transparent !important;
}